<h1> this is my dynamic page</h1>
<h1> my OS is :   <%= node['platform']%>    </h1>
<h1> my platform_version is: <%= node['platform_version'] %>  </h1>
<h1>  my platform_family is : <%= node['platform_family'] %> </h1>